// Tamaños de font
// INICIO
$fontsize-nav: 1.25vw;
$fontsize-logo: 2.1vw;
$fontsize-h1-inicio: 3vw;
$fontsize-p-btn-inicio: 1.65vw;
$fontsize-info-inicio: 1vw;

//SERVICIOS
$fontsize-tittle-servicios: 1.3vw;
$fontsize-lista-servicios:1.2vw;