// Tamaños de font
// INICIO
$fontsize-nav: 1.25vw; // 24px
$fontsize-logo: 2.08vw; // 40px
$fontsize-h1-inicio: 3.33vw; // 64px
$fontsize-p-btn-inicio: 1.67vw; // 32px
$fontsize-info-inicio: 1.042vw; // 20px

//SERVICIOS
$fontsize-tittle-servicios: 1.25vw; // 24px
$fontsize-lista-servicios: 1.042vw; // 20px

//NOSOTROS
$fontsize-carruselName-nosotros: 1.4vw; // 32px
$fontsize-carruselInfo-nosotros: 0.96vw; // 20px