@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap');

h1,
h2,
h3,
p,
span,
a,
li {
    font-family: 'Montserrat';
}

a:link,
a:visited {
    text-decoration: none;
}

img {
    pointer-events: none;
}

body {
    background-color: $color-negro;
    user-select: none;
}

// bg inicio
.inicio {
    background: linear-gradient(180deg, #BCE580 0%, #333 92.31%);
}

// margin secciones general

.inicio,
.servicios,
.nosotros,
.clientes,
.contacto {
    padding-left: 10vh;
    padding-right: 10vh;
}

// border radius botones
$radio1:1.3vw;