@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap');

:root {
    --slide-transform: 0;
    --transition: transform 1s ease;
}

h1,
h2,
h3,
p,
span,
a,
li {
    font-family: 'Montserrat';
}

a:link,
a:visited {
    text-decoration: none;
}

img {
    pointer-events: none;
}

body {
    background-color: $color-negro;
    user-select: none;
}

// bg inicio
.inicio {
    background: linear-gradient(180deg, #BCE580 0%, #333 92.31%);
}

// margin secciones general


.servicios,
.nosotros,
.clientes {
    margin: 4vw 5.208vw 0 5.208vw; // 100px
    padding-top: 2vw;
    
}
.inicio{
    padding: 5.208vw 5.208vw 0 5.208vw;
}

// border radius
$radio1-25px: 1.3vw; // 25px