.contacto{
    .desk{
        display: none;
    }
    .mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20vw 0;
        height: 120vw;
        h1{
            font-size: $fontsize-celu1;
            margin: 0;
            margin-bottom: -15vw;
        }
        .img_contacto{
            transform: none;
            margin-top: 0;
            img{
                position: relative;
                height: 52.8vw;
                min-width: 45.6vw;
                bottom: -18vw;
            }
        }

    }
    .mobiledata{
        display: flex;
        flex-direction: column;
        height: 100%;
        .data_textos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 5vw;
            height: 100%;
            row-gap: 0;
            gap: 10vw;
            align-items: baseline;
            justify-content: space-between;
            .data_contacto{
                width: 100%;
                h3{
                    font-size: 3.6vw;
                }
                p{
                    font-size: 3.07vw;
                }
                .cont_redes{
                    gap: 2vw;
                    a{
                        width: 7.7vw;
                        height: 7.7vw;
                    }
                }
                .cont_telefono{
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0;
                    width: 100%;
                    span{
                        display: flex;
                        gap: 2vw;
                    }
                    img{
                        width: 3.6vw;
                    }
                    p{
                        margin: 0;
                    }
                }
            }
        }
    }
    .map_google{
        margin-top: 10vw;
        margin-bottom: 10vw;
        width: 87.7vw;
        height: 65vw;
        border-radius: 2vw;

    }
}