.cont_footer{
    padding: 4vw 0;
    .cont_logo_footer{
        .cont_img_footer{
            width: 15.38vw;
        }
        h1{
            font-size: 3.6vw;
        }
    }
    h2{
        font-size: 2.56vw;
    }
}