.menu{
    position: absolute;
    .img_logo{
        width: 17vw;
        top: 10vw;
        left: 35%;
        img{
            width: 25vw;
            height: 17vw;
        }
        span{
            font-size: 4.5vw;
        }
    }
    .nav_menu{
        display: none;
    }

}