.nosotros{
    .tittle_nosotros{
        h1{
            font-size: $fontsize-celu1;
        }
    }
    .cont_text_nosotros{
        grid-template-columns: 1fr;
        gap:2vw;
        p{
            font-size: $fontsize-celu2;
            margin: 0;
        }
        .text_izq_nosotros{
            display: none;
        }
    }
    .cont_wrapper_carrusel{
        .cont_carrusel{
            align-items: center;
            .cont_principalView{
                display: flex;
                flex-wrap: wrap;
                gap: 5vw;
                .tar_carrusel{
                    width: 47%;
                    .img_carrusel{
                        border: 2vw solid $color-base;
                    }
                    h3{
                        font-size: 3.59vw;
                    }
                    p{
                        font-size:2.56vw ;
                    }
                }
            }
        }
    }
}