//botones main
.cont_btn_main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    max-width: 40.36vw; //775px
    gap: 1.56vw; // 30px
    z-index: 1;

    span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.35vw 0;
        border-radius: $radio1-25px;
        font-weight: 600;
        font-size: $fontsize-p-btn-inicio;
        color: $font-color1;
        transition: all .3s ease-out;

        img {
            position: absolute;
            left: 1.35vw;
            width: 2.5vw;
        }
    }

    .btn_chateanos {
        background-color: $btn-chateanos-wp-color;
        box-shadow: 0px 5px 10px 0px rgba(51, 204, 51, 0.25);
        padding: 1.5vw 0; //correccion por el link a{}

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

    .btn_llamanos {
        border: 0.15625vw solid #FFF; // 3px
        z-index: 1;

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

    .init {
        opacity: 0;
    }

    .popup_num_inicio {
        display: flex;
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 57% 75%, 50% 95%, 43% 75%, 0% 75%);
        background: #000;
        width: 17vw;
        height: 3.5vw;
        top: -4vw;
        right: 1.25vw;
        justify-content: center;
        user-select: text;

        p {
            font-size: $fontsize-popup-inicio;
            color: $font-color1;
            font-weight: 500;
            margin-top: 0.35vw;
        }
    }

    .bounceOutDown {
        -webkit-animation-name: bounceOutDown;
        animation-name: bounceOutDown;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    @-webkit-keyframes bounceOutDown {
        20% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        40%,
        45% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2vw, 0);
            transform: translate3d(0, 2vw, 0);
        }
    }

    @keyframes bounceOutDown {
        20% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        40%,
        45% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2vw, 0);
            transform: translate3d(0, 2vw, 0);
        }
    }

    .bounceInUp {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .bounceInUpClick {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes bounceInUp {

        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2.8vw, 0);
            transform: translate3d(0, 2.8vw, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes bounceInUp {

        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2.8vw, 0);
            transform: translate3d(0, 2.8vw, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}
.cont_btn_main_mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    max-width: 40.36vw; //775px
    gap: 1.56vw; // 30px
    z-index: 1;

    span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.35vw 0;
        border-radius: $radio1-25px;
        font-weight: 600;
        font-size: $fontsize-p-btn-inicio;
        color: $font-color1;
        transition: all .3s ease-out;

        img {
            position: absolute;
            left: 1.35vw;
            width: 2.5vw;
        }
    }

    .btn_chateanos {
        background-color: $btn-chateanos-wp-color;
        box-shadow: 0px 5px 10px 0px rgba(51, 204, 51, 0.25);
        padding: 1.5vw 0; //correccion por el link a{}

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

    .btn_llamanos {
        border: 0.15625vw solid #FFF; // 3px
        z-index: 1;

        &:hover {
            cursor: pointer;
            scale: 1.05;
        }
    }

    .init {
        opacity: 0;
    }

    .popup_num_inicio {
        display: flex;
        position: absolute;
        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 57% 75%, 50% 95%, 43% 75%, 0% 75%);
        background: #000;
        width: 17vw;
        height: 3.5vw;
        top: -4vw;
        right: 1.25vw;
        justify-content: center;
        user-select: text;

        p {
            font-size: $fontsize-popup-inicio;
            color: $font-color1;
            font-weight: 500;
            margin-top: 0.35vw;
        }
    }

    .bounceOutDown {
        -webkit-animation-name: bounceOutDown;
        animation-name: bounceOutDown;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

    }

    @-webkit-keyframes bounceOutDown {
        20% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        40%,
        45% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2vw, 0);
            transform: translate3d(0, 2vw, 0);
        }
    }

    @keyframes bounceOutDown {
        20% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        40%,
        45% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2vw, 0);
            transform: translate3d(0, 2vw, 0);
        }
    }

    .bounceInUp {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .bounceInUpClick {
        -webkit-animation-name: bounceInUp;
        animation-name: bounceInUp;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes bounceInUp {

        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2.8vw, 0);
            transform: translate3d(0, 2.8vw, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }

    @keyframes bounceInUp {

        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 2.8vw, 0);
            transform: translate3d(0, 2.8vw, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
        }

        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}

//botones contactos
.btn_contactos {
    grid-template-columns: 1fr;
    width: 19.3vw; //775px
    justify-self: center;

    //correccion por el link a{}
    .btn_chateanos {
        padding: 1.35vw 0;
    }

    .popup_num_inicio {
        clip-path: polygon(0 100%, 100% 100%, 100% 25%, 55% 25%, 50% 15%, 45% 25%, 0 25%);
        top: 11vw;

        p {
            margin-top: 1.4vw;
        }
    }

    .bounceInDown {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes bounceInDown {

        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2.8vw, 0);
            transform: translate3d(0, -2.8vw, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        100% {
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes bounceInDown {

        0%,
        60%,
        75%,
        90%,
        100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }

        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2.8vw, 0);
            transform: translate3d(0, -2.8vw, 0);
        }

        60% {
            opacity: 1;
            -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
        }

        75% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        90% {
            -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
        }

        100% {
            -webkit-transform: none;
            transform: none;
        }
    }

    .bounceOutUp {
        -webkit-animation-name: bounceOutUp;
        animation-name: bounceOutUp;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes bounceOutUp {
        20% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        40%,
        45% {
            opacity: 1;
            -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2vw, 0);
            transform: translate3d(0, -2vw, 0);
        }
    }

    @keyframes bounceOutUp {
        20% {
            -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
        }

        40%,
        45% {
            opacity: 1;
            -webkit-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
        }

        100% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2vw, 0);
            transform: translate3d(0, -2vw, 0);
        }
    }

    .bounceInDownClick {
        -webkit-animation-name: bounceInDown;
        animation-name: bounceInDown;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
}