// -------------------------------------------- HEADER-------------------------------------------

.menu {
    display: flex;
    position: absolute;
    width: 100%;
    top: 2.6vw;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all .3s ease-out;

    .nav_menu {
        display: flex;
        gap: 4.16vw; //80px

        a {
            color: $font-color1;
            font-size: $fontsize-nav;
            font-weight: 600;
            text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

            &:active {
                scale: 0.95;
            }
        }
    }

    .img_logo {
        display: flex;
        flex-direction: row;
        width: 9.3vw;
        position: absolute;
        align-items: center;
        left: 5.208vw; // 100px
        top: 1.8vw; // 50px

        img {
            width: 100%;
            height: 100%;
        }

        span {
            color: #647A53;
            font-weight: 500;
            font-size: $fontsize-logo ;
            margin-left: 1.5vw; // 30px
        }
    }
}


// -------------------------------------------- HEADER SCROLL-------------------------------------------

.scrollMenu {
    position: fixed;
    background: $color-base;
    // background: #bde580c4;
    // backdrop-filter: blur(0.5vw);
    // -webkit-backdrop-filter: blur(0.5vw);
    $height-scroll: 3.8vw;
    height: $height-scroll;
    top: 0;

    .img_logo {
        top: 0;
        width: 100%;
        height: $height-scroll;

        img {
            width: 2.8vw;
            height: 2.8vw;
        }

        span {
            font-size: 1.04vw;
            width: 100%;
        }
    }

}