// -------------------------------------------- INICIO-------------------------------------------

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 7vw; // 100px

    .cont_izq {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 10vw; // 100px
        gap: 3.65vw; // 70px
        .cont_text_inicio {

            h1,
            p {
                color: $font-color1;
            }

            h1 {
                font-weight: 600;
                font-size: $fontsize-h1-inicio ;
            }

            p {
                font-weight: 500;
                font-size: $fontsize-p-btn-inicio;
                max-width: 40.36vw; //775px
            }
        }
        .cont_info_inicio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            span {
                color: $font-color1;
                font-weight: 500;
                font-size: $fontsize-info-inicio ;
            }

            .info_inicio {
                display: flex;
                align-items: center;
                gap: 1.04vw; // 20px

                img {
                    width: 21%;
                }

                .num_info {
                    width: 30%;
                }
            }
        }
    }
}