// -------------------------------------------- INICIO-------------------------------------------

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5.21vw; // 100px

    .cont_izq {
        display: flex;
        flex-direction: column;
        margin-top: 10.42vw; // 100px
        gap: 3.65vw; // 70px

        .cont_text_inicio {

            h1,
            p {
                color: $font-color1;
            }

            h1 {
                font-weight: 600;
                font-size: $fontsize-h1-inicio ;
            }

            p {
                font-weight: 500;
                font-size: $fontsize-p-btn-inicio;
                max-width: 40.36vw; //775px
            }
        }

        .cont_btn_inicio {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            position: relative;
            max-width: 40.36vw; //775px
            gap: 1.56vw; // 30px

            span {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.52vw; // 10px
                padding: 6% 0;
                border-radius: $radio1-25px;
                font-weight: 600;
                font-size: $fontsize-p-btn-inicio;
                color: $font-color1;

                img {
                    width: 11%;
                }
            }

            .btn_chateanos {
                background-color: $btn-chateanos-wp-color;
                box-shadow: 0px 5px 10px 0px rgba(51, 204, 51, 0.25);
            }

            .btn_llamanos {
                border:  0.15625vw solid #FFF; // 3px
            }
        }

        .cont_info_inicio {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            span {
                color: $font-color1;
                font-weight: 500;
                font-size: $fontsize-info-inicio ;
            }

            .info_inicio {
                display: flex;
                align-items: center;
                gap: 1.04vw; // 20px

                img {
                    width: 21%;
                }

                .num_info {
                    width: 30%;
                }
            }
        }
    }
}