// -------------------------------------------- NOSOTROS-------------------------------------------
.nosotros {
    display: flex;
    flex-direction: column;

    .tittle_nosotros {
        h1 {
            font-size: $fontsize-h1-inicio;
            color: $font-color1;
        }
    }

    .cont_text_nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.6vw;

        p {
            font-size: $fontsize-p-btn-inicio;
            color: $font-color1;
        }
    }

    .cont_wrapper_carrusel {
        display: flex;
        margin-top: 5.84vw;
        overflow:hidden;
        .widthcarrusel{
            width:89.584vw;
        }
        .cont_carrusel {
            display: flex;
            flex-flow: row nowrap;
            align-items: start;
            transform: translateX(var(--slide-transform));
            transition: var(--transition);
            &:hover{
                cursor: pointer;
            }
            &:active{
                cursor:grabbing;
            }

            // -23.53%
            .cont_principalView {
                display: flex;
                flex-wrap: nowrap;
                width:  89.584vw;
                justify-content: space-around;
            }

            .tar_carrusel {
                display: flex;
                position: relative;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 17.5vw;

                .img_carrusel {
                    display: flex;
                    border-radius: 50%;
                    border: 1vw solid $color-base;
                    background-color: $color-base;
                }

                h3 {
                    font-size: $fontsize-carruselName-nosotros;
                    color: $font-color1;
                    font-weight: 500;
                    margin: 2vw 0 1vw 0;
                    padding: 0;
                }

                p {
                    font-size: $fontsize-carruselInfo-nosotros;
                    color: $font-color1;
                    font-weight: 400;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}